{% extends "header.html" %}

{% block content %}

<div class="btn-group justify-content-center" role="group">
    {% for language in languages %}
        <button
            onclick='window.location.href="?lang={{ language }}";'
            target="_self" role="button"
            class="btn
            {% if language == selected_language %} btn-primary {% else %} btn-secondary {% endif %}
            "
            href="/?lang={{ language }}"
        >
            {{ languages[language] }}
        </button>
    {% endfor %}
</div>

<div class="alert alert-light" role="alert" style="margin-bottom:0; padding-bottom:0;">
    {{ info_text }}
</div>

<div class="alert alert-light" role="alert">
    {{ info_policy|safe }}
</div>
<p>{{ message|safe }}</p>

<div>
{{ render_form(form) }}
</div>

<script>
    // Send CSRF token to parent window if the feedback app is embedded in an iframe
    document.addEventListener('DOMContentLoaded', function () {
        // Get CSRF token from form
        var csrfTokenInput = document.querySelector('input[name="csrf_token"]');
        var csrfToken = csrfTokenInput ? csrfTokenInput.value : 'not found';
        // Only send postMessage if parent window is not the feedback app itself.
        if (window.parent !== window && window.location !== window.parent.location) {
            window.parent.postMessage(
                {
                    type: 'feedback-csrf-token',
                    csrfToken: csrfToken
                },
                '{{ parent_origin }}'
            );
        }
    });
</script>

{% endblock %}

